<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!-- 패키지명 알리아스 주기 -->

<typeAliases>
<typeAlias type="Board.memberDTO" alias="memberdto"/>
<typeAlias type="Board.BoardDTO" alias="boarddto"/>
</typeAliases>






  <!-- mybatis db 연결정보 세팅 파일 -->

<!-- <environments default="backdb">
<environment id="backdb">
<transactionManager type="JDBC"/>
<dataSource type="POOLED">
<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
<property name="url" value="jdbc:mysql://127.0.0.1:3306/backcoder"/>
<property name="username" value="backcoder"/>
<property name="password" value="1111"/>
</dataSource>
</environment>
</environments>

 -->
<!-- SQL 파일 맵핑  -->
<!-- <mappers>
<mapper resource="Board/membersql-mapping.xml"></mapper>
</mappers>
 -->


</configuration>

